.Sign-upPageContainer {
  padding-top: 1.6rem;
  width: 100%;
}

.hero-container {
  display: flex;
  line-height: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.hero-text {
  line-height: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.hero-text h1 {
  font-size: 1.6rem;
  font-weight: 500;
}
.hero-text h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.signup-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}

.hero-image img {
  width: 25rem;
  height: 20rem;
  margin-right: 7rem;
}
.hero-image-signupForm {
  display: flex;
  justify-content: space-between;
  width: 58rem;
  height: 39rem;
  padding: 0.2rem;
}

.forh1 {
  font-size: 1.6rem;
  font-weight: 500;
}
.smalltext {
  font-size: 0.75rem;
}

.hero-signupForm {
  box-shadow: 1px 5px 20px rgb(203, 198, 198);
  padding: 3rem;
  padding-top: 1rem;
  height: 26rem;
}

.left-image {
  width: 62%;
  background: url("/background.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-form {
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.modal-header{
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  cursor: pointer;
  font-size: 1.3rem;
  transition:  font-size 0.2s ease;
 
}


.modal-header:hover{
  font-size: 1.5rem;
background: rgba(0, 0, 0, 0.08);

}
