.Landing-Page-Container {
  width: 100vw;
  height: 100vh;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.Hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}
.Hero-img > img:nth-child(1) {
  width: 45rem;
  height: 34.82rem;

  margin-top: 3rem;
}

.Hero-text h1 {
  font-size: 2.6rem;
}

.Hero-text {
  line-height: 3rem;
  margin-bottom: 4rem;
  padding-left: 3.5rem;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  visibility: hidden;
  display: flex;              /* modal ko center me lane ke liye */
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;

}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 5500;
}


.modal {
  background: white;
  transform: scale(0.4);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.3s ease;

}

.modalActive{
  transform: scale(1);
  opacity: 1;
  z-index: 10000;
}